/* body */

body { font-family: $defaultFontStack; line-height: 1.4; background-color: $charcoal; overflow-x:hidden;}
body strong { font-family: $boldFontStack; font-weight: normal;}
body em { font-family: $italicFontStack; font-style: normal;}
body strong em,
body em strong { font-family: $boldItalicFontStack; }

.page-wrapper { margin: 0 auto; position: relative; width: 1600px; max-width: 100%; }
.sw { width: $wrapperWidth; max-width: 95%; margin: 0 auto; position: relative; }
#wrapper { position: relative; background: #fff; z-index: 9;}
.ie8 body { min-width: $wrapperWidth; }

html,
body,
body .page-wrapper,
body .hero { height: 100%;}

/* because anything taller is just silly */
body .hero { max-height: 900px; }

/* because IE8 won't obey the min-height media query where we move the reservation form */
.ie8 body .hero { min-height: 750px; }

.body { background-color: $pearl; }

.body section { padding: 20px 0; }
.body section.nopad { padding:0; }
.body section.light { background-color: #fff; color: inherit;}

.dark-bg { background-color: #161616; color: #fff; }