/* header */
header { position: absolute; top:36px; left:0; right:0; z-index: 4;}
header .sw { }
header .logo-wrap { position: absolute; top:0; left:0; width: 280px; height: 102px; 
	@include linear-gradient(to top, #000, #272626);
 }

header .logo { position: absolute; top: 50%; left: 0; right:0; margin: -30px auto 0; }
header:before { position: absolute; content:""; top:0; left:0; right:0;
	height: 102px; box-shadow: 0 4px 4px rgba(0,0,0,0.4); @include property-with-rgba( background, #fff, 0.7 );
}

#mobile-book { display: none; text-align: center; padding: 12px; position: absolute; top: 14px; right: 8px; z-index: 21; text-transform: uppercase; color: #fff; font-size: 13px; 
	background: #999;
}	

#mobile-nav { position: absolute; top: 12px; left: 10px; background: #999; width: 40px; padding: 40px 0 0; z-index: 21; outline: none; display: none;}