/* nav */

#mobile-nav { display: none; }
.nav-wrap {position: absolute; top: 0; left: 0; right:0; z-index: 5;}
.nav-wrap:before { position: absolute; top: 0; left:0; right:0; height: 36px; content:"";
	@include property-with-rgba( background, #000, 0.9 );
}
.nav {  position: absolute; top:36px; left:0; right:0; }

nav { position: absolute; top:0; left:0; right:0; padding: 0 72px 0 0; font-size: 12px; left:280px;}
nav>ul { display: table; width: 100%; }
nav>ul>li{ display: table-cell; }
nav>ul>li>a { display: block; text-align: center; padding-top: 60px; height: 102px; color: #000; text-transform: uppercase; position: relative; z-index: 2;}

nav ul li>div { display: none; overflow: hidden; padding: 10px; position: absolute; top: 102px; left:-280px; right:0; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,0.4); z-index: 1;
	@include transform( translateZ(0) );
}
nav li:hover>div { display: block; }
nav ul li>div:after { position: absolute; top:10px; right:10px; bottom: 10px; left: 260px; background: #efefef; content:""; z-index: 1; }
nav ul div ul { text-transform: uppercase; width: 260px; float: left; padding: 10px 0 0;}
nav ul div ul a { display: block; padding: 8px; color: #000;}
nav ul div ul a:hover { background: #efefef;}
nav ul div .swiper-wrapper { background: #efefef; margin-left: 260px; z-index: 2; }
nav ul div .swiper-wrapper .swipe,
nav ul div .swiper-wrapper .swipe-wrap,
nav ul div .swiper-wrapper .swipe-wrap>div { width: 100%; }
nav ul div .swiper-wrapper .swipe-wrap>div { min-height: 200px; padding: 15px;}
nav ul div .swipe .meta { overflow: hidden; margin-right: 250px;}
nav ul div .swipe .img { position: absolute; width: 250px; top:0; right:0; bottom:0; background: #fff; background-size: cover; opacity:0; }
nav ul div .swipe .img.loaded { opacity:1;
	@include transition( opacity 0.2s $ease-in-sine );
}

.dd-locations:after { display: none;}
.contact-locations { font-size: 12px; }
.contact-locations,
.dd-locations { text-align: center; }
.contact-locations img,
.dd-locations img { max-width: 100px; width: 100%;}
.contact-locations .rating,
.dd-locations .rating { display: block; margin: 5px 0 10px;}
.contact-locations .col>div,
.dd-locations .col>div { position: relative; height: 220px; padding-top:20px;}
.contact-locations .button,
.dd-locations .btn-group { position: absolute; bottom: 20px; left:0; right:0; display: block; margin: 0 auto; text-align: center;}
.contact-locations .button { width: 100px; }
.dd-locations .affiliated-hotels { background: #f0f0f0; padding: 10px; margin: 20px -20px -20px;}
.dd-locations .affiliated-hotels .h3-style { margin: 0 20px 20px; border-bottom: 1px solid #dadada; padding-bottom: 10px;}
.dd-locations .col-3 { border-left: 1px solid #dadada;}
.dd-locations .col-3:first-child+.col-3+.col-3~.col-3>div:after {content:""; position: absolute; top: -20px; left: 20px; right: 20px; border-top: 1px solid #dadada;}
.dd-locations .col-3:first-child+.col-3+.col-3+.col-3 { border: none;}

nav .dd-title { font-size: 18px; display: block; margin: 0 0 8px; text-transform: uppercase; }

.nav .top { position: absolute; top:-36px; right:0;
	@include transform( translateZ(0) );
}
.nav .top>a { color: #d1d3d4; line-height: 36px; display: inline-block; padding: 0 5px; font-size: 10px; text-transform: uppercase;}
.nav .top>a:hover { background-color: #424242; }
.nav .top .social { display: inline-block; }

#toggle-search { position: absolute; right: 0; height: 102px; top: 0; width: 72px; display: block; text-indent: -999em; }

#toggle-search:before { top: 100%; margin-top: -42px; }

nav>ul>li>a,
#toggle-search { border-right: 1px solid #c2c5c2; border-color: rgba(0,0,0,0.2);	
	@include transition(background-color 0.15s $ease-in-out-sine);
}

nav>ul>li:hover>a,
#toggle-search:hover { background: #fcfbfa; }