/* hero */
.hero { background-color: #000; padding:0; position: relative; z-index: 2; overflow: hidden; }
.hero .item { display:block; }
.hero .swiper-wrapper { position: absolute; top:0; left:0; width: 100%; }
.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap>div,
.hero .item { height: 100%; }

.hero.single .swipe-wrap>div { float: none; }

.hero .item { position: absolute; top:0; left:0; width: 100%; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe,
.hero .item { 
	@include opacity( 0 );
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe {
	@include transition-delay( 0.2s );
}

.hero.loaded .swipe,
.hero .loaded>.item { 
	@include opacity( 1 );
}

.hero .caption { position: absolute; background: #000; background: rgba(0,0,0,0.85); padding: 30px 0; text-align: center; left:0; right:0; bottom: 2px; text-transform: uppercase; z-index: 2;
	@include transform( translateZ(0) );
}
.hero .title { display: block; font-size: 23px; color: #fff;}
.hero .sub { display: block; font-size: 19px; color: #939598;}
.home .hero .caption .button { display: none;}


/* links and controls */
.hero .slider-controls { position: absolute; left:0; right:0; bottom: 125px; border-spacing: 3px; z-index: 10;}
.hero .slider-controls div { display: table; margin: 0 auto; width: 450px; max-width: 100%;}
.hero .slider-controls a { display: table-cell; cursor: pointer; text-indent: -999em; overflow: hidden; font-size:0; height: 8px; filter: alpha(opacity=40);
	@include property-with-rgba( background, #e6e6e6, 0.4 ); 
}
.hero .slider-controls a.selected,
.hero .slider-controls a:hover { filter: alpha(opacity=70);
	@include property-with-rgba( background, #e6e6e6, 0.7 ); 
}