/* accordion colors */
$accordionHandleBorderColor: #fff;
$accordionHandleColor: $black;
$accordionHandleColorActive: $black;

$accordionHandleBGColor: $grey;
$accordionHandleBGColorActive: $grey;

/* standard accordion */
.accordion.separated .accordion-item { margin-bottom: 15px; }
.accordion-item { margin:0; background: #fff;}
.accordion-item-handle { position: relative; cursor: pointer; padding: 8px 44px 8px 8px; color: $accordionHandleColor; background: $accordionHandleBGColor; border: 1px solid $accordionHandleBorderColor; margin: -1px -1px 0;}
.accordion-item-handle.lg { font-size: 20px; }

.accordion-item-handle:after {
	/* sprite arrow */
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .sprite-after.arrow-down-black:after;
	left: auto; right:8px; top: 50%; margin-top: -10px;
	@include transform( none );
	@include transform-origin( center );
	@include transition( transform $ease-in-out-back 0.4s );
}

.expanded>.accordion-item-handle:after {
	@include transform( rotateZ(180deg) );
}

.no-csstransforms .expanded>.accordion-item-handle:after {
	/* sprite arrow */
	@extend .sprite-after.arrow-up-black:after;
}

.twox .accordion-item-handle:after {
	@extend .twox.sprite-after:after;
}

.threex .accordion-item-handle:after {
	@extend .threex.sprite-after:after;
}

.accordion-item-handle:hover,
.expanded>.accordion-item-handle { background: $accordionHandleBGColorActive; color: $accordionHandleColorActive;}
.accordion-item-handle>div { padding: 3px 10px; }
.accordion-item-content { display: none; padding: 10px;}
.ie8 .accordion-item-content { display: none !important; }
.ie8 .expanded>.accordion-item-content { display: block !important; }
.start-expanded>.accordion-item-content { display: block; }
.accordion-content-item p { border: none !important; }
.accordion-item-content ol,
.accordion-item-content ul { margin:-10px; padding: 5px 0; font-size: 13px;}
.accordion-item-content ul li a { display: block; color: $bodyContentColor; padding: 5px 12px;}
.accordion-item-content ul li a:hover { background: $pearl; }